.matador{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCxNFlzSGP3Ad2uagRC3uq2DkdtorClcLBIw&s");
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(82, 82, 252);
}